<!doctype html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>To-do List</title>
  </head>
  <body>
    <header>
      <h1>To-do List</h1>
    </header>

    <section>
      <form action='add' method='post'>  <!-- Submits data to '/add' with post method -->
        <input name='content' type='text' placholder='Insert new task'>
        <button type='submit'>Add task</button>
      </form>
    </section>

    <section>
      <a href='/doneonly'>View done tasks</a>
    </section>

    <section>
      <table id='taskList'>
        <thead>
          <th>Task name</th>
          <th>Status</th>
        </thead>
        <tbody>
          {% for i in task %}
          <tr>
            <td>{{i.task}}</td>
            <td>{{i.status}}</td>
            {% if i.status == 'To-do' %}
            <td><a href='/done/{{loop.index0}}'>Mark as done</a></td>
            {% else %}
            <td><a href='/todo/{{loop.index0}}'>Mark as to-do</a></td>
            {% endif %}
            <td><a href='/delete/{{loop.index0}}'>Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </body>
</html>
